{%macro AboutComponent()%}
<div id="about" >
    <h3 class="mb-4">About</h3>
    As an experienced Mechanical Engineer, worked in different positions such as design, workability engineer and project manager. I had enough time to master skills like;
<p></p>
<ul>
<li> Mathematical thinking. I build models and calculations to help people make smart decisions.  
<li> Process optimization. As a lean production fan, I always search the way of reducing failures and automatizing the job.
<li> Team leadership. I motivate and teach the people around me, build necessary connections and lead my team to the win.
</ul>
While I was doing my graduation project, I studied data analysis and science, and I witnessed that the manufacture and industry in which I was involved from the beginning of my working life began to digitalize and other sectors were undergoing this change and transformation. I wanted to be part of this change and with my experiences I believe that I can bring new visions and improvements.
<p></p>
During my education in Strive School and online courses, I witnessed that data business analysis and machine learning are matching with my soft skills and experiences. 

</div>
{%endmacro%}
