
{% extends "/layouts/index.html"%} 

{% block content %}
<head>

	<title>Umut Aktas | Full Stack AI Engineer | aktasumut@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<meta name="keywords" content="" />
	<meta name="description" content="" />

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
	
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/styles/yahoo.css')}}" media="all" /> 
	
    <link rel="stylesheet" href="{{url_for('static',filename='/styles/resume.css')}}"/> 
	<link rel="stylesheet" href="{{url_for('static',filename='/styles/main.css')}}"/> 

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Umut Aktas</h1>
					<h2>Full Stack AI Engineer</h2>
				</div>


				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="{{ url_for('resume_download') }}" >Download PDF</a></h3>
						<a>aktasumut@gmail.com</a>
						<h3>+7 916 439 8168</h3>
						<h3>+90 533 599 6771</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								<p class="enlarge">	Graduated from Strive School AI mastercamp</p>
									<p class="enlarge">6 years background in mechanical engineering - design engineering, mathematical modeling, 3D design programming, project management. </p>
										<p class="enlarge">Want to use my old and new skills in IT as an engineer, analyst, or project manager. 
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Data Science / AI Engineer</h2>
									<p>Experienced in creating meaningful insights and predictions from data</p>
								</div>

								<div class="talent">
									<h2>Mathematical Modeling</h2>
									<p>Created mathematical models for manufacturing and 3d designs in order to create algorithms with programming languages. </p>
								</div>

								<div class="talent">
									<h2>Project Management</h2>
									<p>Leaded more than 5 teams of 10 people in multidisciplinary environments of an international company.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>Python</li>
								<li>PyTorch</li>
								<li>Tensorflow</li>
								<li class="last">Feature Engineering</li>
							</ul>

							<ul class="talent">
								<li>NLP</li>
								<li>LSTM</li>
								<li>Web Scraping</li>
								<li class="last">Computer Vision</li>
							</ul>

							<ul class="talent">
								<li>SQL</li>
								<li>REST API</li>
								<li>Flask</li>
								<li class="last">Docker</li>
							</ul>

							
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Strive School</h2>
								<h3>Strive Tutor</h3>
								<h4>2021 - Present </h4>
								<ul>Helping new master camp students with their projects and tasks on the points of arranging the knowledge base, feature engineering, deep learning and machine learning algorithms. </ul>
							</div>	

							<div class="job">
								<h2>MAN Turkey</h2>
								<h3>Project Manager</h3>
								<h4>2020 - 2021</h4>
								<ul>Nonserial and limited series bus production.</ul>
								<ul>Coordinated crisis teams focused on solving production failures in 33 minute takt time (more than 600 failures monthly).</ul>
								<ul>Managed cost, human, time resources and agreements for projects.</ul>
								<ul>Leaded project teams of 10 to 20 people. </ul>
								<ul>Mediated inter-departmental issues and crisis agreements.</ul>
								<ul>Wrote functional requirements  and algorithms for IT solutions in the area of responsibility.</ul>
									
							</div>	

							<div class="job">
								<h2>MAN Turkey</h2>
								<h3>Workability Engineer</h3>
								<h4>2019 - 2021</h4>
								<ul>Coordinated instant crisis teams for solving production failures, up to 6 people.</ul>
								<ul>Developed permanent solutions for typical production problems using root cause method.</ul>
								<ul>Trained junior engineers, 12 mentees.</ul>
							</div>

							<div class="job">
								<h2>MAN Turkey</h2>
								<h3>Senior Design Engineer</h3>
								<h4>2016 - 2019</h4>
								<ul>Designed kinematic parts of the vehicles according to customer change requests.</ul>
								<ul>Organized design thinking sessions, knowledge management bases and prioritized the solutions.</ul>
								<ul>Coordinated interdisciplinary international project teams with colleagues from Poland, Germany, and Turkey.</ul> 
								<ul>The key user of a PLM system for all MAN plants.</ul>
							</div>

							<div class="job">
								<h2>Electron</h2>
								<h3>3D Design Programmer</h3>
								<h4>2016</h4>
								<ul>Minimized design process time for nonserial parts from 5 days to 3 minutes<a href="https://www.youtube.com/watch?v=7AvLTX3aqeI">.</a></ul>
								<ul>Brought number of production failures caused by design to 0</ul>
								<ul>Automatized design process with C# and VisualBasic using  mathematical models of each typical component.</ul>
							</div>


							<div class="job last">
								<h2>Dirinler Foundry</h2>
								<h3>Intern Engineerr</h3>
								<h4>2015 - 2016</h4>
								<ul>Worked as a blue staff worker and technician to understand the manufacturing environment and improve my communication skills.</ul>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Voluntary Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Lions International / Imbat Leo Club</h2>
								<h3>Founder Vice President</h3>
								<h4>2012 - 2013 </h4>
								<ul>With Association of Spinal Cord Injuries  -  Blue Cover Project  Team Leader </ul>
								<ul>With Karabağlar Municipality,  Green Project Team Leader(Environmental Awareness, Conferences, Educations) </ul>
							</div>	

							<div class="job">
								<h2>AEGEE Europe / Education Working Group</h2>
								<h3>Speaker</h3>
								<h4>2012 - 2013</h4>
								<ul>The Education Working Group is the meeting point for students who are interested in European integration in the field of Higher Education and who would like to contribute to its development. Coordinated the education of the whole of AEGEE Europe’s new and current members.</ul>
							</div>	


						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<div class="job">
								<h2>Dokuz Eylul University - Izmir, Turkey</h2>
								<h3>Mechanical Engineering </h3>
							<div\>
						</div>
						


						<div class="job last">
							
							<h2>Strive School / Mastercamp - Berlin, Germany</h2>
							<h3>AI Engineering </h3>
							
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Umut Aktaş &mdash; aktasumut@gmail.com</a> &mdash; +7 916 439 8168 , +90 533 599 6771</p>
		</div><!--// footer -->{% from "/components/footer/index.html" import FooterComponent %}

	</div><!-- // inner -->


</div><!--// doc -->


</body>
{% endblock %}