

{% extends "/layouts/index.html"%} 
{% from "/components/navbar/navbar.html" import NavbarComponent %}

<!DOCTYPE html >
<html>
	

	
<head>

	<title>Umut Aktas | AI, Mechanical Engineer | aktasumut@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
	
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	
    <link rel="stylesheet" href="{{url_for('static',filename='/styles/resume.css')}}"/> 

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Umut Aktas</h1>
					<h2>AI, Mechanical Engineer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="#">Download PDF</a></h3>
						<h3><a href="mailto:name@yourdomain.com">aktasumut@gmail.com</a></h3>
						<h3>+7 916 439 8168</h3>
						<h3>+90 533 599 6771</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Mechanical engineer with 6 years experience in design engineering, mathematical modeling, 3D design programming for production, and project management. Made my first AI model in university and brought it to my professional life and finished master camp.Want to use my old and new skills, in IT as an engineer, analyst, or project manager. 
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Data Science / AI Engineer</h2>
									<p>Experienced with creating meaningful insights and predictions from data</p>
								</div>

								<div class="talent">
									<h2>Mathematical Modeling</h2>
									<p>Created mathematical models for manufacturing and 3d designs in order to create algorithms with programming languages. </p>
								</div>

								<div class="talent">
									<h2>Project Management</h2>
									<p>Leaded more than 5 teams and 10 people in multidisciplinary environments in an international company with being part of different departments.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>Tensorflow</li>
								<li>Scikit-Learn</li>
								<li class="last">Flask</li>
							</ul>

							<ul class="talent">
								<li>OpenCV</li>
								<li>CNN/LSTM</li>
								<li class="last">NLP</li>
							</ul>

							<ul class="talent">
								<li>HTML</li>
								<li>CSS</li>
								<li class="last">Linux</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Strive School</h2>
								<h3>Strive Tutor</h3>
								<h4>2021 - Present </h4>
								<p>Helping new master camp students with their projects and tasks.</p>
							</div>	

							<div class="job">
								<h2>MAN Turkey</h2>
								<h3>Project Manager</h3>
								<h4>2020-2021</h4>
								<p>Managing cost, human, and time resources including agreements at every level, leading 10 to 20 people, and having mediation roles in inter-departmental issues and leading crisis agreements.

									Gathering and coordinating crisis teams and coordination of solving teams for every kind of failure in 33 minute takt time (more than 600 failures monthly). 
									</p>
							</div>	

							<div class="job">
								<h2>MAN Turkey</h2>
								<h3>Workability Engineer</h3>
								<h4>2019-2021</h4>
								<p>Having technical and production coordinator role in the projects by leading 3 to 6 people for implementing instant crisis solutions(in takt time) and permanent solutions with the help of root cause method.
									Being responsible for the training, mentorship, and coordination of newly graduated engineers in this department, which has 2.5 times the number of employees. (12+ members) </p>
							</div>

							<div class="job">
								<h2>MAN Turkey</h2>
								<h3>Senior Design Designer</h3>
								<h4>2016-2019</h4>
								<p>Technical project coordinator with colleagues from Poland, Germany, and Turkey in projects. Creating ideas pools, eliminating with the team, regular checks, making agreements with inter-departmentally, and reporting to high-level managers weekly. The key user of a PLM system, first in our group (until 2017), then all plants.  </p>
							</div>

							<div class="job">
								<h2>Electron</h2>
								<h3>CAD Programmer</h3>
								<h4>2016</h4>
								<p>Creating mathematical models of each component in the system to minimize the design procedures and duration. Made interfaces using C# and VisualBasic. According to these computer modeling systems, the design process time is considerably minimized from 5 days to 3 minutes on average without any failures.  </p>
							</div>


							<div class="job last">
								<h2>Dirinler Foundry</h2>
								<h3>Intern Engineerr</h3>
								<h4>2015-2016</h4>
								<p>Worked as a blue staff worker and technician to understand the manufacturing environment and improve my communication skills.</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Voluntary Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Lions International / Imbat Leo Club</h2>
								<h3>Founder Vice President</h3>
								<h4>2012-2013 </h4>
								<p>Founder vice president of the club. Coordinated environment and disabled-based projects.</p>
							</div>	

							<div class="job">
								<h2>AEGEE Europe / Education Working Group</h2>
								<h3>Speaker</h3>
								<h4>2012-2013</h4>
								<p>The Education Working Group is the meeting point for students who are interested in European integration in the field of Higher Education and who would like to contribute to its development. Coordinated the education of the whole of AEGEE Europe’s new and current members.</p>
							</div>	


						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<div class="job">
								<h2>Dokuz Eylul University - Izmir, Turkey</h2>
								<h3>Mechanical Engineering </h3>
							<div\>
						</div>
						


						<div class="job last">
							
							<h2>Strive School / Mastercamp - Berlin, Germany</h2>
							<h3>AI Engineering </h3>
							
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Umut Aktaş &mdash; <a href="mailto:name@yourdomain.com">aktasumut@gmail.com</a> &mdash; +7 916 439 8168 , +90 533 599 6771</p>
		</div><!--// footer -->{% from "/components/footer/index.html" import FooterComponent %}

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

{% extends "/layouts/index.html"%} 
