{%macro ProjectsListingComponent(projects)%}
{%from "/components/projects/single.html" import SingleProjectComponent%}

<div id="projects" class="projects-container">
    <h1 class="mt-4 mb-4">Projects</h1>
    <p>All of them in 5 minutes!</p>
    
    <iframe width="840" height="472" src="https://www.youtube.com/embed/KCZXDI_qRDY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
    <p></p>
    &nbsp;&nbsp; 
    &nbsp;&nbsp; 
    &nbsp;&nbsp; 
    &nbsp;&nbsp; 
    &nbsp;&nbsp; 
    &nbsp;&nbsp; 
    <h3 class="mt-5 mb-0">My AI and Data science projects</h3>
    <h5 class="mt-0 mb-0">with GitHub, screaming links, and YouTube videos!</h5>
    &nbsp;&nbsp; 
    <p> </p>
<div class="row  g-4">
  
  
    
    {%for project in projects%}
    {{ SingleProjectComponent(project)}}
    {%endfor%}
    
  
</div>
{%endmacro%}
