:root {
    --main-bg-color: #0e1117;
    --main-text-light: #eee9e1;
    --main-text-primary: #e2ab43;
    
}

.navbar svg{
    color:var(--main-text-primary);
}

.btn-outline-success{
    background-color:var(--main-bg-color);
    color:var(--main-text-light );
}
.btn-outline-success:hover{
    background-color:var(--main-text-primary);
    color:var(--main-bg-color);
}

.form-control{
    background-color:transparent;
}

.form-control:focus{
    background-color:transparent;
 
}

.navbar{
    padding-top:3.125rem
}
body{
    background-color:var(--main-bg-color);
    font-family: 'Montserrat', sans-serif;
    color:var(--main-text-light);
    scroll-behavior: smooth;
}
 
h1,h1,h3,h4,h5,h6{
    color:var(--main-text-primary);
}
h1{
    font-size:2rem;
    font-weight: bold;
}
.avatar{
    width:37.5rem;
}
.jumbotron {
    background-color:var(--main-bg-color);
    height:100vh;
}

.card{
    background-color:var(--main-bg-color);
}
#about{
    padding-bottom:2.5rem;
   
}

#projects{
    padding-bottom:12.5rem;
}

.home-jumbotron-container{
    padding-left:3rem;
    padding-right: 3rem;
}
.home-description{
    margin-top:1.875rem
}

 .social-links{
     width:100%;
 
 }
.social-links a {
    color:var(--main-text-light);
    padding-right:2rem;
 
}


.social-links a:hover {
    color:var(--main-text-primary);
 
}

.social-links svg {
    transition: 0.2s;
}
.social-links svg:hover {
    transform: scale(1.5);
    transition: 0.2s;
}

.projects-container{
    margin-top:15%
}
.project-cover{
    height:14.375rem;
    object-fit: cover;
}

.card-footer a {
    color:var(--main-text-light);
    margin-right:1em;
}

.card-footer a:hover {
    color:var(--main-text-primary);
    transform: scale(1.5);
    transition: 0.2s;
}

.card-body{
    display:flex;
    align-items:center;
    justify-content:center;
}

.card-header{
    text-align: center;
}
.card-body i{
    font-size:3rem;
}

th,td{
    color:var(--main-text-light);
}

